# Keil / MDK build outputs
U575/MDK-ARM/U575/
U575/MDK-ARM/wrist/
U575/MDK-ARM/RTE/
*.o
*.d
*.dep
*.axf
*.elf
*.hex
*.bin
*.map
*.lst
*.lnp
*.build_log.htm

# Keil user/session files
*.uvguix.*
*.uvgui.*
*.uvoptx

# Logs and temporary files
*.log 
*.tmp
*.temp
*.bak
*.orig
*.stackdump

# OS/editor files
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/.browse.c_cpp.db*
.vscode/

# Keil RTE 调试器配置（自动生成，因机器而异）
*.dbgconf
*.dbgconf.base*

# 个人 IDE 工程文件
*.eprj2

# 资料文件
/备赛/MKS_142模块相关资料
